body {
text-align: center;
background: src='water.jpg';
}
input {
  border: 0;
  padding: 15px;
  font-size: 18px;
}
input[type='submit] {
background: red;
color: white;
}
ul {
      padding: 10px;
      background: black;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
a {
color: red;
}
h1 {
  font-size: 70px;
}
@media (max-width: 500px) {
  h1 {
  font-size: 36;
  }
  li {
display: block;
    padding: 5px;
  }
