body {
text-align: center;
background: src='water.jpg';
}
input {
  border: 0;
  padding: 15px;
  font-size: 18px;
}
input[type='submit] {
background: red;
color: white;
}
ul {
  padding: 10px;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
