body {
background: url("https://phenomenex.files.wordpress.com/2016/01/water.jpg");
}
input {
  border: 2;
  padding: 3px;
  font-size: 15px;
}
button {
background: red;
color: white;
}
h1 {
color: orange;
}
h2 {
  color: orange;
}
h3 {
  color: orange;
}
